<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section">
    <app-slide-title></app-slide-title>
  </div>
  <div class="section">
    <app-introduction></app-introduction>
  </div>
  <div class="section">
    <app-slide1></app-slide1>
  </div>
  <div class="section">
    <h1>Section 2</h1>
  </div>
  <div class="section">
    <div class="slide"><h1>Slide 3.1</h1></div>
    <div class="slide"><h1>Slide 3.2</h1></div>
    <div class="slide">
      <h1>Slide 3.3</h1>
      <a routerLink="secondTest">name</a>
    </div>
  </div>
  <div class="section">
    <h1>Section 4</h1>
  </div>
</div>

<ng-template #codeEditor>
  <pre>
    <code class="code-editor" contenteditable="true">

      ...
    </code>
  </pre>
</ng-template>
