<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section">
    <app-introduction></app-introduction>
  </div>
  <div class="section">
    <app-slide-title></app-slide-title>
  </div>
  <div class="section">
    TODO: Dikkatleri toplayacak bir giriş React jsx sallaması yapılabilir
  </div>
  <div class="section">
    <app-interpolation></app-interpolation>
  </div>
  <div class="section">
    <app-property-binding></app-property-binding>
  </div>
  <div class="section">
    <app-ng-if></app-ng-if>
  </div>
</div>

<ng-template #codeEditor>
  <pre>
    <code class="code-editor" contenteditable="true">

      ...
    </code>
  </pre>
</ng-template>
