<div class="slide">
  <h1 class="title">Angular Language Service</h1>
</div>

<div class="slide">
  <h1 class="title">Autocompletion</h1>

  <img
    width="800"
    src="https://angular.io/generated/images/guide/language-service/language-completion.gif"
    alt=""
  />
</div>

<div class="slide">
  <h1 class="title">Error Checking</h1>

  <img
    width="800"
    src="https://angular.io/generated/images/guide/language-service/language-error.gif"
    alt=""
  />
</div>

<div class="slide">
  <h1 class="title">Quick Info and Navigation</h1>

  <img
    width="800"
    src="https://angular.io/generated/images/guide/language-service/language-navigation.gif"
    alt=""
  />
</div>
