<div class="slide">
  <ng-container *ngTemplateOutlet="titleTmp"></ng-container>
  <app-code
    [codes]="codes1"
    [tabs]="tabs"
    [output]="output1"
    [selectedTab]="1"
  ></app-code>
</div>

<div class="slide">
  <ng-container *ngTemplateOutlet="titleTmp"></ng-container>
  <app-code
    [codes]="codes2"
    [tabs]="tabs"
    [output]="output2"
    [selectedTab]="1"
  ></app-code>
</div>

<div class="slide">
  <ng-container *ngTemplateOutlet="titleTmp"></ng-container>
  <app-code [codes]="codes3" [tabs]="onlyHtmlTab" [output]="output3"></app-code>
</div>

<div class="slide">
  <ng-container *ngTemplateOutlet="titleTmp"></ng-container>
  <app-code
    [codes]="codes4"
    [tabs]="tabs"
    [output]="output4"
    [selectedTab]="1"
  ></app-code>
</div>

<div class="slide">
  <ng-container *ngTemplateOutlet="titleTmp"></ng-container>
  <app-code
    [codes]="codes5"
    [tabs]="tabs"
    [output]="output1"
    [selectedTab]="1"
  ></app-code>
</div>

<ng-template #output1>
  <h3>Merhaba {{ user }} 👋</h3>
</ng-template>

<ng-template #output2>
  <img src="{{ imgUrl }}" />
</ng-template>

<ng-template #output3>
  <p>
    11 ile 29'u toplayın <strong>{{ 11 + 29 }}</strong> yapar!
  </p>
</ng-template>

<ng-template #output4>
  <p>11 ile 29'u toplayın {{ sum(11, 29) }} yapar!</p>
</ng-template>

<ng-template #titleTmp>
  <h1 class="title"><code>Interpolation</code></h1>
</ng-template>
