<section>
  <h3 class="r-fit-text">Modülsüz Angular</h3>
</section>

<section>
  <h3>Standalone Nedir?</h3>

  <div class="fragment fade-up">
    <div class="text-left mb-4">
      <p class="mb-4">
        🔹 NgModule olmadan Angular componentleri oluşturmanın yeni bir yolu
      </p>
    </div>
  </div>

  <div class="fragment fade-up">
    <div class="text-left mb-4">
      <p class="mb-4">🔹 Kendi bağımlılıklarını yöneten bağımsız bileşenler</p>
    </div>
  </div>

  <div class="fragment fade-up">
    <div class="grid grid-cols-2 gap-4">
      <div>
        <h4 class="text-red-500">Before</h4>
        <pre><code data-trim data-noescape class="language-typescript">
        {{before}}
                    </code></pre>
      </div>
      <div>
        <h4 class="text-green-500">After</h4>
        <pre><code data-trim data-noescape class="language-typescript">
            {{after}}
          </code></pre>
      </div>
    </div>
  </div>
</section>

<section>
  <section>
    <h3>Standalone Directive</h3>
    <pre><code>{{ codeSnippets.standaloneDirective }}</code></pre>
  </section>
  <section>
    <h3>Standalone Pipe</h3>
    <pre><code>{{ codeSnippets.standalonePipe }}</code></pre>
  </section>
  <section>
    <h3>Standalone Component</h3>
    <pre><code>{{ codeSnippets.standaloneComponent }}</code></pre>
  </section>
</section>

<section class="h-fill top-0">
  <h3>Avantajlar</h3>

  <section>
    <div class="fragment fade-up">
      <h4 class="text-green-600">📦 Basitleştirilmiş Yapılandırma</h4>
      <p>NgModule gerektirmez - bağımlılıklar doğrudan bileşende tanımlanır</p>
    </div>
  </section>

  <section>
    <div class="fragment fade-up">
      <h4 class="text-green-600">🎯 Daha İyi Tree-Shaking</h4>
      <p>
        Kullanılmayan bağımlılıklar kolayca temizlenir, bundle boyutu küçülür
      </p>
    </div>
  </section>

  <section>
    <div class="fragment fade-up">
      <h4 class="text-green-600">⚡ Gelişmiş Lazy Loading</h4>
      <p>Bileşenler modül yükü olmadan bağımsız olarak yüklenebilir</p>
    </div>
  </section>

  <section>
    <div class="fragment fade-up">
      <h4 class="text-green-600">👨‍💻 Daha İyi Geliştirici Deneyimi</h4>
      <p>Daha az boilerplate kod, hızlı öğrenme, daha erişilebilir.</p>
    </div>
  </section>
</section>

<section>
  <h3>Router</h3>
  <section>
    App Routes

    <pre><code>{{ codeSnippets.appRoutes }}</code></pre>
  </section>

  <section>
    Admin Routes

    <pre><code>{{ codeSnippets.adminRoutes }}</code></pre>
  </section>

  <section>
    Customer Routes

    <pre><code>{{ codeSnippets.customerRoutes }}</code></pre>
  </section>
</section>

<section>
  <h3>main.ts</h3>

  <pre><code>{{ codeSnippets.mainConfiguration }}</code></pre>
</section>

<section>
  <h3>PEKİ BİZİ NEDEN KURTARDI?</h3>
</section>

<section>
  <h2 class="">Shared Modules</h2>
  <h2 class="fragment fade-in-then-out">SCAM</h2>
  <h2 class="fragment fade-up r-fit-text">
    <strong class="text-red-500">S</strong>ingle
    <strong class="text-red-500">C</strong>omponent
    <strong class="text-red-500">A</strong>ngular
    <strong class="text-red-500">M</strong>odule
  </h2>
</section>
<section>
  <p>Shared Module</p>
  <pre><code>{{codeSnippets.sharedModule}}</code></pre>
</section>

<section>
  <p>SCAM</p>
  <section>
    <pre><code>{{codeSnippets.scamCustomerList}}</code></pre>
  </section>

  <section>
    <pre><code>{{codeSnippets.scamSubmitButtonDirective}}</code></pre>
  </section>
</section>

<section>
  <h3>Standalone Component</h3>
  <pre><code>{{codeSnippets.complexStandaloneComponent}}</code></pre>
</section>

<section data-markdown>
  <textarea data-template>

**Klasik NgModules**                  | **Standalone Bileşenler**            
---------------------------------------|--------------------------------------
 Her özellik için bir NgModule gerekir | NgModule ihtiyacını ortadan kaldırır 
 Daha fazla boilerplate kod            | Daha az boilerplate kod              
 Bağımlılıkların yönetimi karışıktır   | Bağımlılıklar doğrudan ve sade       
 Basit uygulamalarda bile fazla yük    | Hafif ve verimli yapı           

  </textarea>
</section>

<section>
  <h3>Tüm Konfigürasyonlar</h3>

  <pre><code>{{codeSnippets.appConfigWithAllOptions}}</code></pre>
</section>
