@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 40px;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

button {
  background-color: #363636;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}

#fp-nav {
  top: initial;
  bottom: 0;
  left: 50% !important;
  transform: rotate(270deg);
}

.title {
  font-size: 70px;
}

.text-black {
  color: #333;
}

.ngneat-dialog-content {
  background-color: #272822 !important;
}

.content {
  max-width: 85%;
  margin: 0 auto;
}

code {
  font-family: monospace !important;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  color: #fff;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}

[placeholder]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
[placeholder]:hover::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}

[placeholder]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
[placeholder]:hover::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
[placeholder]:focus::-moz-placeholder {
  color: transparent;
}

[placeholder]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
[placeholder]:hover:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
[placeholder]:focus:-ms-input-placeholder {
  color: transparent;
}

form {
  width: 400px;
  margin: 50px auto;
}

input {
  display: block;
  width: 400px;
  margin: 0 0 20px;
  padding: 8px 12px 10px 12px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.25);
}

textarea {
  display: block;
  width: 400px;
  height: 150px;
  margin: 0 0 20px;
  padding: 8px 12px 10px 12px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.25);
}

.radio {
  position: relative;
  display: inline-block;
  margin: 0 20px 20px 0;
}

.radio input[type="radio"] {
  vertical-align: middle;
  opacity: 0;
}

.radio label {
  vertical-align: middle;
  cursor: pointer;
}

.radio input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -3px 5px 0 -15px;
  vertical-align: middle;
  font-size: 14px;
  font-family: fontawesome;
  line-height: 19px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.25);
}

.radio input[type="radio"] + label:before {
  border-radius: 50%;
}

.radio input[type="radio"]:hover + label:before {
  content: "\f111";
  font-size: 9px;
  color: rgba(255, 255, 255, 0.4);
}

.radio input[type="radio"]:checked + label:before {
  content: "\f111";
  font-size: 9px;
  color: rgba(255, 255, 255, 0.8);
}

.radio .sex {
  font: 20px fontawesome;
}

input[type="submit"] {
  display: block;
  width: 150px;
  margin: 0 0 20px;
  padding: 8px 0 10px 0;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.25);
}

.btn-primary {
  background-color: #2b3d71;
}

.text-success {
  color: rgb(36, 116, 36) !important;
}

.ml-1 {
  margin-left: 8px;
}
