<div class="slide">
  <div class="content">
    <h1 class="title">Event Binding</h1>

    <div class="content">
      Event binding, mouse hareketleri, tıklamalar gibi JavaScript event'lerini ve Angular component
      event'lerini dinlemeye olanak sağlar.
    </div>
  </div>
</div>

<div class="slide">
  <h1 class="title">JavaScript Events</h1>

  <app-code
    [codes]="codeSnippets.javascriptEvents.codes"
    [tabs]="codeSnippets.javascriptEvents.tabs"
  ></app-code>
</div>

<div class="slide">
  <h1 class="title">JavaScript Events</h1>

  <app-code
    [codes]="codeSnippets.javascriptEvents2.codes"
    [tabs]="codeSnippets.javascriptEvents2.tabs"
  ></app-code>
</div>

<div class="slide">
  <h1 class="title">Event Binding Syntax</h1>

  <app-code [codes]="codeSnippets.syntax.codes" [tabs]="codeSnippets.syntax.tabs"></app-code>
</div>

<div class="slide">
  <h1 class="title">Event Binding</h1>

  <app-code [codes]="codeSnippets.basic.codes" [tabs]="codeSnippets.basic.tabs"></app-code>
</div>

<div class="slide">
  <h1 class="title">Key event filtering</h1>

  <app-code
    [codes]="codeSnippets.keyFilter.codes"
    [tabs]="codeSnippets.keyFilter.tabs"
    [output]="keyFilterTmp"
  ></app-code>
  <!-- [extras]="[{ tab: 'ANGULAR LANGUAGE SERVICE', output: alsSuggestionsTmp }]" -->
</div>

<ng-template #keyFilterTmp>
  <input placeholder="Type here" (keyup.enter)="submit($event)" (keydown.esc)="cancel($event)" />
</ng-template>

<div class="slide">
  <h1 class="title">Key event filtering</h1>

  <app-code
    [codes]="codeSnippets.keyFilter2.codes"
    [tabs]="codeSnippets.keyFilter2.tabs"
    [output]="keyFilter2Tmp"
  ></app-code>
  <!-- [extras]="[{ tab: 'ANGULAR LANGUAGE SERVICE', output: alsSuggestionsTmp }]" -->
</div>

<ng-template #keyFilter2Tmp>
  <textarea (keyup.control.enter)="submit($event)" placeholder="Type here"></textarea>
</ng-template>

<div class="slide">
  <img
    width="800"
    src="https://angular.io/generated/images/guide/inputs-outputs/output.svg"
    alt=""
  />
</div>

<div class="slide">
  <h1 class="title">Custom Events with <code>EventEmitter</code></h1>

  <app-code
    [codes]="codeSnippets.customEvents.codes"
    [tabs]="codeSnippets.customEvents.tabs"
    [output]="customEventsTmp"
  ></app-code>
</div>

<ng-template #customEventsTmp>
  <app-counter (countChange)="onCountChange($event)"></app-counter>

  <br />

  myCount: {{ myCount }}
</ng-template>

<!-- <div class="slide">
  <h1 class="title">Custom Events with Subjects</h1>

  <app-code
    [codes]="codeSnippets.customEventsWithSubjects.codes"
    [tabs]="codeSnippets.customEventsWithSubjects.tabs"
    [output]="customEventsWithSubjectsTmp"
  ></app-code>
</div> -->

<ng-template #customEventsWithSubjectsTmp>
  <div class="card">
    <div class="card-content">
      <h3>Card Title</h3>

      Card body
    </div>
  </div>
</ng-template>

<ng-template #alsSuggestionsTmp>
  <div style="padding: 8px">
    <img
      src="assets/images/als-event-suggestions.png"
      alt="angular-language-service-event-suggestions"
      width="600"
    />
  </div>
</ng-template>
