<div class="slide">
  <h1 class="title">Property Binding</h1>
  <div class="content">
    Bir değeri, hedef element'in property'sine tek yönlü olarak iletmeyi sağlar.
  </div>
</div>
<div class="slide">
  <h1 class="title">Binding Syntax</h1>

  <app-code
    [codes]="codeSnippets.basic.codes"
    [tabs]="codeSnippets.basic.tabs"
    [output]="basicTmp"
  ></app-code>
</div>

<ng-template #basicTmp>
  <ng-container
    *ngIf="{
      imageUrl: 'https://source.unsplash.com/user/erondu/350x350'
    } as data"
  >
    <img [src]="data.imageUrl" />

    <br />

    <img bind-src="data.imageUrl" />
  </ng-container>
</ng-template>

<div class="slide">
  <h1 class="title">Style & Class Binding</h1>

  <app-code
    [codes]="codeSnippets.modifier.codes"
    [tabs]="codeSnippets.modifier.tabs"
    [output]="modifierTmp"
  ></app-code>
</div>

<ng-template #modifierTmp>
  <div class="rectangle" style="width: 100px; background-color: #9ee60c"></div>
  <div class="rectangle" [style]="styles"></div>
  <div class="rectangle" [style]="{ width: '150px', backgroundColor: '#9ee60c' }"></div>
  <div class="rectangle" [style.width]="'100px'" [style.backgroundColor]="'orange'">100px</div>
  <div class="rectangle" [style.background-color]="'orange'"></div>
  <div class="rectangle" [style.width.px]="100">100px</div>
  <div class="rectangle" [style.width.%]="70">70%</div>
  <div [class.rectangle]="false">not rectangle</div>
  <div [class]="classes"></div>
</ng-template>

<div class="slide">
  <h1 class="title">Property binding and interpolation</h1>

  <app-code
    [codes]="codeSnippets.propertyBindingAndInterpolation.codes"
    [tabs]="codeSnippets.propertyBindingAndInterpolation.tabs"
  ></app-code>
</div>

<div class="slide">
  <h1 class="title">Difference between attribute and property</h1>

  <app-code
    [codes]="codeSnippets.differenceAttributeProperty.codes"
    [tabs]="codeSnippets.differenceAttributeProperty.tabs"
    [extras]="[
      { tab: 'Properties', output: buttonPropertiesImg },
      { tab: 'Attributes', output: buttonAttributesImg }
    ]"
  ></app-code>
</div>

<ng-template #buttonPropertiesImg>
  <img width="550" src="assets/images/button-aria-props.jpg" />
</ng-template>

<ng-template #buttonAttributesImg>
  <img src="assets/images/button-aria-attrs.jpg" />
</ng-template>

<!-- <div class="slide">
  <h1 class="title">Difference between attribute and property</h1>

  <app-code
    [codes]="codeSnippets.differenceAttributeProperty2.codes"
    [tabs]="codeSnippets.differenceAttributeProperty2.tabs"
  ></app-code>
</div>

<div class="slide">
  <h1 class="title">Difference between attribute and property</h1>

  <app-code
    [codes]="codeSnippets.differenceAttributeProperty3.codes"
    [tabs]="codeSnippets.differenceAttributeProperty3.tabs"
  ></app-code>
</div>

<div class="slide">
  <h1 class="title">Difference between attribute and property</h1>

  <app-code
    [codes]="codeSnippets.differenceAttributeProperty4.codes"
    [tabs]="codeSnippets.differenceAttributeProperty4.tabs"
  ></app-code>
</div> -->

<div class="slide">
  <h1 class="title">Attribute Binding</h1>
  <app-code
    [codes]="codeSnippets.attrBinding.codes"
    [tabs]="codeSnippets.attrBinding.tabs"
  ></app-code>
</div>

<div class="slide">
  <h1 class="title">Property Binding vs Attribute Binding</h1>
  <app-code
    [codes]="codeSnippets.propVsAttr.codes"
    [tabs]="codeSnippets.propVsAttr.tabs"
  ></app-code>

  <!-- <ul style="width: 45%; margin: 0 auto; text-align: left">
    Property binding'in avantajları:
    <li>- Syntax daha kısadır.</li>
    <li>- Daha kolay okunur.</li>
    <li>- Daha performanslı çalışır.</li>
  </ul> -->
</div>

<div class="slide">
  <h1 class="title">BIND VALUES BETWEEN COMPONENTS</h1>

  <img
    sacma="true"
    width="800"
    src="https://angular.io/generated/images/guide/inputs-outputs/input.svg"
  />
</div>

<div class="slide">
  <h1 class="title">Bind Values Between Components</h1>
  <app-code
    [codes]="codeSnippets.counter.codes"
    [tabs]="codeSnippets.counter.tabs"
    [output]="appCounterTmp"
  ></app-code>
</div>

<ng-template #appCounterTmp>
  <app-counter></app-counter>
  <hr />
  <app-counter [count]="5"></app-counter>
  <hr />
</ng-template>
