<div class="slide">
  <h1 class="title">Property Binding</h1>
  <div class="content">
    Bir değeri, hedef element'in property'sine tek yönlü olarak iletmeyi sağlar.
  </div>
</div>
<div class="slide">
  <h1 class="title">Binding Syntax</h1>

  <app-code
    [codes]="codeSnippets.basic.codes"
    [tabs]="codeSnippets.basic.tabs"
    [output]="basicTmp"
  ></app-code>
</div>

<ng-template #basicTmp>
  <ng-container
    *ngIf="{
      imageUrl: 'https://source.unsplash.com/user/erondu/350x350'
    } as data"
  >
    <img [src]="data.imageUrl" />

    <br />

    <img bind-src="data.imageUrl" />
  </ng-container>
</ng-template>

<div class="slide">
  <h1 class="title">Style & Class Binding</h1>

  <app-code
    [codes]="codeSnippets.modifier.codes"
    [tabs]="codeSnippets.modifier.tabs"
    [output]="modifierTmp"
  ></app-code>
</div>

<ng-template #modifierTmp>
  <div class="rectangle" style="width: 100px; background-color: #9ee60c"></div>
  <div class="rectangle" [style]="styles"></div>
  <div
    class="rectangle"
    [style]="{ width: '150px', backgroundColor: '#9ee60c' }"
  ></div>
  <div
    class="rectangle"
    [style.width]="'100px'"
    [style.backgroundColor]="'orange'"
  >
    100px
  </div>
  <div class="rectangle" [style.background-color]="'orange'"></div>
  <div class="rectangle" [style.width.px]="100">100px</div>
  <div class="rectangle" [style.width.%]="70">70%</div>
  <div [class.rectangle]="false">not rectangle</div>
  <div [class]="classes"></div>
</ng-template>

<div class="slide">
  <h1 class="title">Difference between attribute and property</h1>

  <app-code
    [codes]="codeSnippets.differenceAttributeProperty.codes"
    [tabs]="codeSnippets.differenceAttributeProperty.tabs"
  ></app-code>
</div>

<div class="slide">
  <h1 class="title">Difference between attribute and property</h1>

  <app-code
    [codes]="codeSnippets.differenceAttributeProperty2.codes"
    [tabs]="codeSnippets.differenceAttributeProperty2.tabs"
  ></app-code>
</div>

<div class="slide">
  <h1 class="title">Difference between attribute and property</h1>

  <app-code
    [codes]="codeSnippets.differenceAttributeProperty3.codes"
    [tabs]="codeSnippets.differenceAttributeProperty3.tabs"
  ></app-code>
</div>

<div class="slide">
  <h1 class="title">Attribute Binding</h1>
  <app-code
    [codes]="codeSnippets.attrBinding.codes"
    [tabs]="codeSnippets.attrBinding.tabs"
    [extras]="[{ tab: 'SS', output: btnAttributesSS }]"
  ></app-code>
</div>

<ng-template #btnAttributesSS>
  <img src="assets/images/btn-attributes.png" height="70" />
</ng-template>

<div class="slide">
  <h1 class="title">Property Binding vs Attribute Binding</h1>
  <app-code
    [codes]="codeSnippets.propVsAttr.codes"
    [tabs]="codeSnippets.propVsAttr.tabs"
  ></app-code>

  <!-- <ul style="width: 45%; margin: 0 auto; text-align: left">
    Property binding'in avantajları:
    <li>- Syntax daha kısadır.</li>
    <li>- Daha kolay okunur.</li>
    <li>- Daha performanslı çalışır.</li>
  </ul> -->
</div>

<div class="slide">
  <h1 class="title">BIND VALUES BETWEEN COMPONENTS</h1>

  <img
    sacma="true"
    width="800"
    src="https://angular.io/generated/images/guide/inputs-outputs/input.svg"
  />
</div>

<div class="slide">
  <h1 class="title">Bind Values Between Components</h1>
  <app-code
    [codes]="codeSnippets.image.codes"
    [tabs]="codeSnippets.image.tabs"
    [output]="appImageTmp"
  ></app-code>
</div>

<ng-template #appImageTmp>
  <app-image></app-image>
  <hr />
  <app-image
    [source]="'https://source.unsplash.com/user/erondu/150x150'"
  ></app-image>
  <hr />
  <app-image
    source="https://source.unsplash.com/user/erondu/160x160"
  ></app-image>
</ng-template>
