<div class="reveal">
  <div class="slides">
    <section class="flex items-center justify-center flex-col">
      <div class="w-32 mb-8">
        <angular-logo class="w-full" />
      </div>

      <h2 class="r-fit-text">
        Angular Yolculuğu
        <br />
        <small>v14’ten v19’a</small>
      </h2>
    </section>

    <section>
      <h2>Mehmet ERİM</h2>
      <h3>Front-end developer</h3>
      <h3>Kortext</h3>
    </section>

    <section>
      Interaktif... Angular kullanım durumu Anguların son güncellemelerini takip
      edebildiniz mi Angular'ı beğeniyor musunuz ...
    </section>

    <section>Sunumda Neler Var?</section>

    <section>
      <h2>3 Yıl Önce Angular</h2>
    </section>

    <section>
      AppModule
      <pre>
        <code>
          {{ codeSnippets.angular13AppModule }}
        </code>
        </pre>
    </section>

    <section>
      AppRoutingModule
      <pre>
        <code>
          {{ codeSnippets.angular13AppRouting }}
        </code>
        </pre>
    </section>

    <section class="h-fill top-0">
      CustomersModule
      <pre class="w-fill h-fill">
        <code>
          {{ codeSnippets.angular13customersModule }}
        </code>
        </pre>
    </section>

    <section class="h-fill top-0">
      CustomerListComponent
      <pre class="h-fill">
        <code>
          {{ codeSnippets.angular13customerListComponent }}
        </code>
        </pre>
    </section>

    <standalone-section></standalone-section>

    <section>Signals</section>

    <section>Ngrx/ngxs/elf store örneği rxjs</section>

    <section>store örneği</section>

    <section>
      Kötü rxjs kullanımı örnekleri. Aşağıdaki örneği geliştir. let todos;
      this.todos$.subscribe(data => todos = data); this.todos[0].completed =
      true;
    </section>

    <section>Signals ile bunu nasıl yapardık</section>

    <section>Control flow</section>
    <section>
      <h1>Angular indirme, kullanım oranları ile ilgili bir analiz çıkar</h1>
    </section>

    <section>
      - inject - esbuild - route title - route data to input value?? -
      interceptor injection - functional guards, resolvers -host directive, and
      other directive additions
    </section>
  </div>
</div>
